/* main color */
 :root{
  --light_blue: #7498d2;
  --dark_blue: #0d1061;
  --yellow: #f3ce5d;
  --white: #fff;

}

/* backgroud min width table */
body{
    background-color: var(--light_blue);
    margin: auto;
    color: var(--white);
    font-family: 'Ubuntu', sans-serif, 'Lato', serif;
}

.limt_page{
    position: relative;
    width: 1901px;
    border: 3px solid var(--dark_blue);
    height: auto;
    margin: auto;
}

.table_bacgtoud{
    height: auto;
    width: 1620px;
    margin: auto;
    padding: 0;
}

.backgroud{
    min-width:auto;
    background: url('img/comp.jpg') no-repeat left top/cover;
    margin: auto;
    height: auto;
}

/* hidden backgound */
.hidden1{
    height: 100px;
    /* border: 1px solid #000; */
}

.hidden2{
    height: 50px;
    /* border: 1px solid #000; */
}
