a{
    text-decoration: none;
    margin: 0;
    padding: 0;

}

a:active{
    outline: none;
}

a:focus {
    outline:none;
}

a:visited{
    text-decoration: none;
}

a:hover .block{
    text-shadow: 3px 3px 3px var(--white);
}

a:focus .hidd{
    display: none;
}

a:focus .vis{
    display: inline-block;
}
